In [9]:

from requests import get, post
import json
import time
import pandas as pd
import os
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mp
from dune_client.types import QueryParameter
from dune_client.client import DuneClient
from dune_client.query import Query

In [2]:
def convert_blocktime(blocktime, **kwargs):
    delta = kwargs.get('delta',6)
    if blocktime is None:
        return None
    else:
        timestr = blocktime.replace('T',' ').replace('Z','')
        return datetime.strptime(timestr[:-delta], "%Y-%m-%d %H:%M:%S")

In [3]:
#from https://dune.com/docs/api/quick-start/api-py/
BASE_URL = "https://api.dune.com/api/v1/"

def make_api_url(module, action, ID):
    """
    We shall use this function to generate a URL to call the API.
    """

    url = BASE_URL + module + "/" + str(ID) + "/" + action

    return url

def execute_query(query_id, engine="medium"):
    """
    Takes in the query ID and engine size.
    Specifying the engine size will change how quickly your query runs. 
    The default is "medium" which spends 10 credits, while "large" spends 20 credits.
    Calls the API to execute the query.
    Returns the execution ID of the instance which is executing the query.
    """

    url = make_api_url("query", "execute", query_id)
    params = {
        "performance": engine,
    }
    response = post(url, headers=HEADER, params=params)
    execution_id = response.json()['execution_id']

    return execution_id


def execute_query_with_params(query_id, param_dict):
    """
    Takes in the query ID. And a dictionary containing parameter values.
    Calls the API to execute the query.
    Returns the execution ID of the instance which is executing the query.
    """

    url = make_api_url("query", "execute", query_id)
    response = post(url, headers=HEADER, json={"query_parameters" : param_dict})
    execution_id = response.json()['execution_id']

    return execution_id


def get_query_status(execution_id):
    """
    Takes in an execution ID.
    Fetches the status of query execution using the API
    Returns the status response object
    """

    url = make_api_url("execution", "status", execution_id)
    response = get(url, headers=HEADER)

    return response


def get_query_results(execution_id):
    """
    Takes in an execution ID.
    Fetches the results returned from the query using the API
    Returns the results response object
    """

    url = make_api_url("execution", "results", execution_id)
    response = get(url, headers=HEADER)

    return response


def cancel_query_execution(execution_id):
    """
    Takes in an execution ID.
    Cancels the ongoing execution of the query.
    Returns the response object.
    """

    url = make_api_url("execution", "cancel", execution_id)
    response = get(url, headers=HEADER)

    return response

def run_query(query_id,**kwargs):
    parameters = kwargs.get('parameters',{})
    status_ping_interval = kwargs.get('status_ping_interval',30)
    query_size = kwargs.get('query_size','medium')
    if len(parameters)>0:
        execution_id = execute_query_with_params(query_id,parameters)
    else:
        execution_id = execute_query(query_id,query_size)
    
    # response = get_query_results(execution_id)
    status = get_query_status(execution_id)
    timesum=0
    while (status.json()['state'] == 'QUERY_STATE_EXECUTING') & (timesum<3600):
        print("Waiting for query to finish...")
        time.sleep(status_ping_interval)
        timesum+=status_ping_interval
        status = get_query_status(execution_id)
    
    response = get_query_results(execution_id)
    if response.json()['state'] == 'QUERY_STATE_COMPLETED':
        return pd.DataFrame(response.json()['result']['rows'])
    else:
        print(response.json()['state'])
        print('No output')
        return None

In [6]:
# queries via dune (stake season 1-6, can also manually pull data via csvs if no API key)
api_key='...' #enter your API key
HEADER = {"x-dune-api-key" : api_key}

In [30]:
hopr_all_seasons_rewards = 2037368 #HOPR rewards per account per month
hopr_node_account_mapping = 2611302 #listing and delisitng dates (month) of nodes per account

In [54]:
#union across all first six staking seasons
df_hopr_rewards=run_query(hopr_all_seasons_rewards)

Waiting for query to finish...

In [56]:
df_hopr_rewards['datestr']=[convert_blocktime(df_hopr_rewards.datemonth.iloc[i], delta=8) for i in range(0,len(df_hopr_rewards)) ]

In [57]:
df_hopr_rewards

,account,datemonth,sum_rewards,sum_txs,datestr
0,0xe000adb6f47c7461694bcb69bf51bab8087d819d,2022-12-01 00:00:00.000 UTC,976.707333,2,2022-12-01
1,0x9f1842a615a14bce5723f4c5019d6f67c889b632,2023-01-01 00:00:00.000 UTC,44.212566,1,2023-01-01
2,0xc8c3e484ddf92069eb3226df266c2c262902d835,2022-11-01 00:00:00.000 UTC,1060.426451,4,2022-11-01
3,0x9062a96b9e947b2b57283e705c97b871f5eb6561,2022-11-01 00:00:00.000 UTC,431.021007,5,2022-11-01
4,0x9d8c00b16906a78943c66f1f976a98e4e7a36909,2022-11-01 00:00:00.000 UTC,1942.243035,1,2022-11-01
...,...,...,...,...,...
9012,0x7e50347f8c294a126978159eca243a741c9546ea,2021-12-01 00:00:00.000 UTC,217.170688,1,2021-12-01
9013,0x9488c6fa9e9f92d4bad07cb641ede2ffc853e495,2022-01-01 00:00:00.000 UTC,6.111482,1,2022-01-01
9014,0x49e2a5af17fb2b37a0ff460217dc7a9ff4f34f90,2022-06-01 00:00:00.000 UTC,31.373608,1,2022-06-01
9015,0x0aead38a4f99f8dae8944d31eb703b6c7cec4381,2022-07-01 00:00:00.000 UTC,274.461344,2,2022-07-01
9016,0x8a9aecb126b8afac9bdca66d9e6dbd505a261ca6,2022-10-01 00:00:00.000 UTC,855.196616,1,2022-10-01

In [83]:
df_map_account_nodes=run_query(hopr_node_account_mapping)

Waiting for query to finish...

In [84]:
df_map_account_nodes['datestr_delisted']=[convert_blocktime(df_map_account_nodes.datemonth_delisted_node.iloc[i], delta=8) for i in range(0,len(df_map_account_nodes)) ]
df_map_account_nodes['datestr_listed']=[convert_blocktime(df_map_account_nodes.datemonth_listed_node.iloc[i], delta=8) for i in range(0,len(df_map_account_nodes)) ]

In [85]:
df_map_account_nodes

,account,datemonth_delisted_node,datemonth_listed_node,delisted_node_id,node_id,datestr_delisted,datestr_listed
0,0x01bfbcb6a2924b083969ce6237adbbf3bfa7de13,None,2023-02-01 00:00:00.000 UTC,None,16Uiu2HAkwk6gH2v7aSJiXw9SKUKwyWkvH8HtCfjcCHXHf...,NaT,2023-02-01
1,0x01bfbcb6a2924b083969ce6237adbbf3bfa7de13,None,2023-02-01 00:00:00.000 UTC,None,16Uiu2HAmGZLW41THLNqzohjij7XEiDQvfczgqpqLQi2uz...,NaT,2023-02-01
2,0x01bfbcb6a2924b083969ce6237adbbf3bfa7de13,None,2023-02-01 00:00:00.000 UTC,None,16Uiu2HAm7rTbgcai4JSRD3jdAzFauNivXpu75VEN6G3oB...,NaT,2023-02-01
3,0x01bfbcb6a2924b083969ce6237adbbf3bfa7de13,None,2023-02-01 00:00:00.000 UTC,None,16Uiu2HAmDgdDRQ3boXiP9epTfr8BjZR3fVr5AhG9SwCK9...,NaT,2023-02-01
4,0x01bfbcb6a2924b083969ce6237adbbf3bfa7de13,None,2023-02-01 00:00:00.000 UTC,None,16Uiu2HAmSuw7jmVkViMUZmyAoVqK1qNMN1ApJqaQpCEiu...,NaT,2023-02-01
...,...,...,...,...,...,...,...
812,0xfb832019df452f6c2fe081e79d8508acb8860c49,None,2023-06-01 00:00:00.000 UTC,None,16Uiu2HAmL9wun76mnpkQJpTU43v72GMCvEX1KM5xQokKH...,NaT,2023-06-01
813,0x68bb5ac5c5d3f511a7b8f94f39f1f03a0bf8b60a,None,2023-06-01 00:00:00.000 UTC,None,16Uiu2HAm62VhYjnmzGUbuTWA4o8CBvgHCsvMnzbChTD1m...,NaT,2023-06-01
814,0xc0f5214447016b197e3898c0f57bad499382ee2a,None,2023-06-01 00:00:00.000 UTC,None,16Uiu2HAmGmPSqkr4ShYbWD6YWmM1X3eAS9eqiBTjMdzpx...,NaT,2023-06-01
815,0x1bc3b10b5a33bd650c04aa503b99dbe4fd76a71a,None,2023-06-01 00:00:00.000 UTC,None,16Uiu2HAmQAxYtp42mLXCVaDs6PHND78bkQSDDhqp3w9xv...,NaT,2023-06-01
816,0xe002692784bafbafe7cfaf6adb03b43850acc9ef,None,2023-06-01 00:00:00.000 UTC,None,16Uiu2HAm2DD2aXBxX2zRY3KLkitWE5gbE9LbPmZg5dN29...,NaT,2023-06-01

In [82]:
df_map_account_nodes[df_map_account_nodes.account=='0x1f515ff084f84e89c2a82858eccf421029769e35'].delisted_node_id.nunique()

105

In [80]:
df_map_account_nodes_month[df_map_account_nodes_month.account=='0x1f515ff084f84e89c2a82858eccf421029769e35']

,datestr_delisted,account,num_nodes_listed,num_nodes_delisted,cs_num_nodes_delisted
12,2022-11-01,0x1f515ff084f84e89c2a82858eccf421029769e35,15,15,15
17,2022-12-01,0x1f515ff084f84e89c2a82858eccf421029769e35,73,73,88
22,2023-01-01,0x1f515ff084f84e89c2a82858eccf421029769e35,2,2,90
26,2023-02-01,0x1f515ff084f84e89c2a82858eccf421029769e35,4,4,94
35,2023-03-01,0x1f515ff084f84e89c2a82858eccf421029769e35,9,9,103
38,2023-04-01,0x1f515ff084f84e89c2a82858eccf421029769e35,3,3,106
94,NaT,0x1f515ff084f84e89c2a82858eccf421029769e35,67,0,0

In [105]:
df_map_account_nodes_month_delisted = df_map_account_nodes.groupby(['datestr_delisted','account']).agg(
    num_nodes_listed = ('node_id','nunique'),
    num_nodes_delisted = ('delisted_node_id','nunique')
).reset_index()

In [99]:
df_map_account_nodes_month_listed = df_map_account_nodes.groupby(['datestr_listed','account'],dropna=False).agg(
    num_nodes_listed = ('node_id','nunique')
).reset_index()

In [90]:
df_map_account_nodes_month_delisted

,datestr_delisted,account,num_nodes_listed,num_nodes_delisted
0,2022-09-01,0x56d53a4402a7b8f4ad027cfb421ff60e865f665b,1,1
1,2022-09-01,0x5bffcd8f4809e29bcace4c9c21e0c3b6963ecec1,1,1
2,2022-09-01,0x5e14f9ba0f2aa3d3a11cf2823d0e45f0636a8baf,1,1
3,2022-09-01,0x7d3a7ad44bfcfc0962709ece4c149128717906b8,2,2
4,2022-10-01,0x2402da10a6172ed018aeea22ca60ede1f766655c,1,1
...,...,...,...,...
379,NaT,0xfe5d05fc007b3c1766aa0fddda4a908a1695558d,1,0
380,NaT,0xfea310e868466201e881866e75232e1bc2b86e0c,1,0
381,NaT,0xfed242184ba67298d7c0e7c228da4512abcf5e94,1,0
382,NaT,0xff78bad7f3fefbf552a2978e1455d0126da9ba76,1,0
383,NaT,0xff79ad62d19066e43b99eed19f94e11b0e0b5688,1,0

In [106]:
def make_node_cs_count(df,col):
    df['cs_num_nodes_'+ col] = 0
    for a in df.account.unique():
        tmp=df[(df.account==a)&~(df['datestr_' + col].isna())].sort_values(by=['datestr_' + col])
        if tmp.shape[0]>0:
            df.loc[(df.account==a)&~(df['datestr_' + col].isna()),'cs_num_nodes_'+ col] = tmp['num_nodes_' + col].cumsum()

In [107]:
make_node_cs_count(df_map_account_nodes_month_delisted,'delisted')
make_node_cs_count(df_map_account_nodes_month_listed,'listed')

In [108]:
df_map_account_nodes_month_listed

,datestr_listed,account,num_nodes_listed,cs_num_nodes_listed
0,2022-09-01,0x016d31ae8e538ec295b8d9e65736897d2b6cf245,1,1
1,2022-09-01,0x05c9f9ea62c3c69ddf7221446d7dbf4e04b0c408,1,1
2,2022-09-01,0x09e3c4bf50a15225d4087fe089282cb5506dcce6,1,1
3,2022-09-01,0x105086b1f32ffe1fabb3bc01329c3878a291df6f,1,1
4,2022-09-01,0x1b3921746c0a0376b223e616a2c49a090d09ed59,5,5
...,...,...,...,...
380,2023-06-01,0x68bb5ac5c5d3f511a7b8f94f39f1f03a0bf8b60a,1,1
381,2023-06-01,0xc0f5214447016b197e3898c0f57bad499382ee2a,1,4
382,2023-06-01,0xe002692784bafbafe7cfaf6adb03b43850acc9ef,1,1
383,2023-06-01,0xe963140020f05c01d1b19565597a659e03333a5d,1,1
384,2023-06-01,0xfb832019df452f6c2fe081e79d8508acb8860c49,1,1

In [109]:
df_map_account_nodes_month_delisted

,datestr_delisted,account,num_nodes_listed,num_nodes_delisted,cs_num_nodes_delisted
0,2022-09-01,0x56d53a4402a7b8f4ad027cfb421ff60e865f665b,1,1,1
1,2022-09-01,0x5bffcd8f4809e29bcace4c9c21e0c3b6963ecec1,1,1,1
2,2022-09-01,0x5e14f9ba0f2aa3d3a11cf2823d0e45f0636a8baf,1,1,1
3,2022-09-01,0x7d3a7ad44bfcfc0962709ece4c149128717906b8,2,2,2
4,2022-10-01,0x2402da10a6172ed018aeea22ca60ede1f766655c,1,1,1
5,2022-10-01,0x394c82976a57c4309138c072149ee57aea16560b,2,2,2
6,2022-10-01,0x4d8bd62c7cb6769795410c5d1209cc09bfe16c60,1,1,1
7,2022-10-01,0xb5cbb2f3b5d3a72a88af6c3739579a18d5235755,1,1,1
8,2022-10-01,0xeebcfef507d6109d87689811f5d85d89d30cae76,1,1,1
9,2022-11-01,0x053e1be1151630ef9a54e0bcb7f5ccd1503d5725,1,1,1
10,2022-11-01,0x138732bd8109847f5cb02541ecb17d24b1e9ff6e,1,1,1
11,2022-11-01,0x18376a0e6f2975013d2866407ea4f4e2ff01b510,1,1,1
12,2022-11-01,0x1f515ff084f84e89c2a82858eccf421029769e35,15,15,15
13,2022-11-01,0x6629db6b40057e29d0593d895a350df94dc1e99a,1,1,1
14,2022-11-01,0xb39d022edf05c31e1981f4f4d8137dda9c57cfae,1,1,1
15,2022-11-01,0xe456ff3e321be2675a5aeb56b3623586254c3419,1,1,1
16,2022-11-01,0xf3551c1d8ac61569e482abc05eefae4cccef32c1,1,1,1
17,2022-12-01,0x1f515ff084f84e89c2a82858eccf421029769e35,73,73,88
18,2022-12-01,0x4326990033ecd87a5444383cf8c715e696301910,1,1,1
19,2022-12-01,0x56d53a4402a7b8f4ad027cfb421ff60e865f665b,1,1,2
20,2022-12-01,0x608bef6e818d42a6ba5f62bb09a220bc36807d30,1,1,1
21,2022-12-01,0xbd1ea07bcc208715e099588add684ed78f3ff3ed,1,1,1
22,2023-01-01,0x1f515ff084f84e89c2a82858eccf421029769e35,2,2,90
23,2023-01-01,0x608bef6e818d42a6ba5f62bb09a220bc36807d30,1,1,2
24,2023-01-01,0xeb4872b4c995f6613077090438eae69cfeff142f,1,1,1
25,2023-01-01,0xf13b395e0cacd4e099c7b813d5a85ba94bf9ded7,1,1,1
26,2023-02-01,0x1f515ff084f84e89c2a82858eccf421029769e35,4,4,94
27,2023-02-01,0x2402da10a6172ed018aeea22ca60ede1f766655c,1,1,2
28,2023-02-01,0x253a1dc6bbad8a62a8e8f7b21214fea2b78cb77e,1,1,1
29,2023-02-01,0x3785f0272f5e19dd2c27977ec2d91195bb2af801,1,1,1
30,2023-02-01,0x5055deface85f86112e31a2b9694e1f0e9e23961,1,1,1
31,2023-02-01,0xa1bc9f613297fe6201da0ffe5bf7f086a51cc365,1,1,1
32,2023-02-01,0xb346d2e0685ebac08ed05ce998622fb523da3245,1,1,1
33,2023-02-01,0xbd1ea07bcc208715e099588add684ed78f3ff3ed,2,2,3
34,2023-02-01,0xf89be918c3d9989dd1e454bd21e1fc3afb7e6eeb,1,1,1
35,2023-03-01,0x1f515ff084f84e89c2a82858eccf421029769e35,9,9,103
36,2023-03-01,0x29a65d830516cca6e694be90d3de3cc19f620ea6,1,1,1
37,2023-04-01,0x01bfbcb6a2924b083969ce6237adbbf3bfa7de13,4,4,4
38,2023-04-01,0x1f515ff084f84e89c2a82858eccf421029769e35,3,3,106
39,2023-04-01,0x4e51921564883af00db50a177d8c609aa6ba81ff,1,1,1
40,2023-04-01,0x5055deface85f86112e31a2b9694e1f0e9e23961,1,1,2
41,2023-04-01,0x608bef6e818d42a6ba5f62bb09a220bc36807d30,1,1,3
42,2023-04-01,0x6c8a70bae601e97f2c885f640d5c35b2a1e805e3,1,1,1
43,2023-04-01,0x940f9af7abfa60edaf2ed64e9096f186f465a36c,1,1,1
44,2023-05-01,0x253a1dc6bbad8a62a8e8f7b21214fea2b78cb77e,1,1,2
45,2023-05-01,0x35a3e15a2e2c297686a4fac5999647312fddfa3f,1,1,1
46,2023-05-01,0x376c6968a2fcd86fe62c1bf26fea76beef7429fa,1,1,1
47,2023-05-01,0x4b554240d58a9d75326f8031b7087903034e66fc,3,3,3
48,2023-05-01,0x7a9e4922b7acffa59a69da6b2475ac5cb85925fd,1,1,1
49,2023-05-01,0x95f3dadaa5c781de9aa453830d4e689d57937f82,1,1,1
50,2023-05-01,0xb2f7c0d4d65c484f4b03fc638134d9a3e7f6bab2,1,1,1
51,2023-05-01,0xbbbffd989e9c06cd0808ba1be8cbc2ca1b160f8b,1,1,1
52,2023-05-01,0xdf5fee5a0420b7b9c288b88e4efa133bf2af480a,1,1,1
53,2023-05-01,0xe456ff3e321be2675a5aeb56b3623586254c3419,1,1,2
54,2023-06-01,0x56d53a4402a7b8f4ad027cfb421ff60e865f665b,1,1,3

In [113]:
df_map_account_nodes_month_listed['cs_num_nodes_delisted']=0
for a  in df_map_account_nodes_month_listed.account.unique():
    tmp=df_map_account_nodes_month_listed[(df_map_account_nodes_month_listed.account == a)]
    tmp2=df_map_account_nodes_month_delisted[(df_map_account_nodes_month_delisted.account == a)]
    if tmp2.shape[0]>0:
        for m in tmp.datestr_listed.unique():
            if tmp2[tmp2.datestr_delisted<=m].shape[0]>0:
                df_map_account_nodes_month_listed.loc[(df_map_account_nodes_month_listed.account == a)&(df_map_account_nodes_month_listed.datestr_listed == m),'cs_num_nodes_delisted'] = tmp2[tmp2.datestr_delisted<=m].cs_num_nodes_delisted.iloc[-1]

In [115]:
df_map_account_nodes_month_listed['nodes_live']=df_map_account_nodes_month_listed['cs_num_nodes_listed']-df_map_account_nodes_month_listed['cs_num_nodes_delisted']

In [122]:
df_map_account_nodes_month_listed_grp = df_map_account_nodes_month_listed.groupby('datestr_listed').agg(
    num_nodes_listed = ('nodes_live','sum')
).reset_index()

In [123]:
df_map_account_nodes_month_listed_grp

  datestr_listed  num_nodes_listed
0     2022-09-01               108
1     2022-10-01                69
2     2022-11-01               136
3     2022-12-01               120
4     2023-01-01                81
5     2023-02-01               179
6     2023-03-01               213
7     2023-04-01               222
8     2023-05-01               192
9     2023-06-01                81

In [117]:
# that mapping seems not to work, use df_map_account_nodes_month_listed_grp instead
df_hopr_rewards['nodes_live']=0
for a in df_hopr_rewards.account.unique():
    tmp = df_hopr_rewards[df_hopr_rewards.account==a]
    tmp2=df_map_account_nodes_month_listed[df_map_account_nodes_month_listed.account==a]
    for m in tmp.datestr.unique():
        if tmp2[tmp2.datestr_listed<=m].shape[0]>0:
            df_hopr_rewards.loc[(df_hopr_rewards.account==a)&(df_hopr_rewards.datestr==m),'nodes_live']=tmp2[(tmp2.datestr_listed<=m)].nodes_live.iloc[-1]

In [127]:
df_hopr_rewards_month =df_hopr_rewards.groupby('datestr').agg(
    num_accounts = ('account','nunique'),
    # num_nodes_listed = ('nodes_live','sum'), 
    sum_rewards = ('sum_rewards','sum')
).reset_index()

In [128]:
df_hopr_rewards_month = df_hopr_rewards_month.merge(df_map_account_nodes_month_listed_grp, how='left', left_on='datestr', right_on='datestr_listed')

In [129]:
df_hopr_rewards_month

      datestr  num_accounts   sum_rewards datestr_listed  num_nodes_listed
0  2021-07-01           116  6.381316e+03            NaT               NaN
1  2021-08-01           315  1.117366e+05            NaT               NaN
2  2021-09-01           348  1.701375e+05            NaT               NaN
3  2021-10-01           363  2.450535e+05            NaT               NaN
4  2021-11-01           394  2.740784e+05            NaT               NaN
5  2021-12-01           355  2.996583e+05            NaT               NaN
6  2022-01-01           755  1.966726e+06            NaT               NaN
7  2022-02-01           471  4.493391e+05            NaT               NaN
8  2022-03-01           382  5.661995e+05            NaT               NaN
9  2022-04-01           639  1.024312e+06            NaT               NaN
10 2022-05-01           452  5.859738e+05            NaT               NaN
11 2022-06-01           372  4.125231e+05            NaT               NaN
12 2022-07-01           560  1.045830e+06            NaT               NaN
13 2022-08-01           337  4.096279e+05            NaT               NaN
14 2022-09-01           315  5.729629e+05     2022-09-01             108.0
15 2022-10-01           556  1.116894e+06     2022-10-01              69.0
16 2022-11-01           331  4.387360e+05     2022-11-01             136.0
17 2022-12-01           284  5.227971e+05     2022-12-01             120.0
18 2023-01-01           500  1.031441e+06     2023-01-01              81.0
19 2023-02-01           332  3.914886e+05     2023-02-01             179.0
20 2023-03-01           233  4.327922e+05     2023-03-01             213.0
21 2023-04-01           470  6.488063e+05     2023-04-01             222.0
22 2023-05-01           130  1.153548e+05     2023-05-01             192.0
23 2023-06-01             7  1.173859e+03     2023-06-01              81.0

In [130]:
df_hopr_rewards_month.to_csv('hopr_rewards_monthly.csv')

In [10]:
# df_hopr_rewards.to_pickle('df_hopr_rewards.pkl')